<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include nav.html %}
{% include browser-upgrade.html %}






<div id="main" role="main">

  <article class="hentry">
    <header class="header-title" id="particles-js">
      <div class="header-title-wrap header">
        {% if page.link %}
          <h1 class="entry-title"><i class="fa fa-bookmark permalink"></i> <a href="{{ page.link }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2><span class="entry-date date published"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span></h2>
        {% if site.reading_time %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% include read-time.html %}
        </p><!-- /.entry-reading-time -->
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>
    <div id="post-content" class="entry-content post-content post-article" >
      {{ content }}
      <footer class="entry-meta">
        <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %}{% endunless %}{% endfor %}</span>
        {% if page.modified %}<span>Updated on <span class="entry-date date updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
        {% if page.share != false %}{% include social-share.html %}{% endif %}
      </footer>
    </div><!-- /.entry-content -->
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
    {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}	        

</body>
</html>

<!-- TOC sidebar-->
<script src="{{ site.url }}/assets/js/plugins/toc.js " | prepend: site.baseurl }}"></script>

<!-- TOC sidebar-->
<script src="{{ site.url }}/assets/js/plugins/scrollnav.min.umd.js " | prepend: site.baseurl }}"></script>

<script>
    //Scroll Nav
    const content = document.querySelector('.post-article');
    scrollnav.init(content, {
        debug: false,
        //easingStyle: 'linear',
        sections: ($('.post-content > h1').length > 0) ? 'h1' : 'h2',
        subSections: ($('.post-content > h1').length > 0) ? 'h2' : 'h3'
    });
    //Dynamically positon
    var sideNav = function () {
        var mainRect = document.getElementById('post-content').getBoundingClientRect();
        //var oldReac = document.getElementsByClassName('scroll-nav')[0].getBoundingClientRect();
        $('.hentry > nav').css('left', mainRect.right + 10 + 'px');
    }
    sideNav();
    window.addEventListener("resize", sideNav);  

    
    window.onscroll = () => {   
      var nav = $('.hentry > nav')[0];
      if(nav != undefined){
          var offset = 100;
          var top = 60 * window.innerHeight / 100;
          if(window.pageYOffset + offset > top) {
            $('.hentry > nav').css("position", "fixed");
            $('.hentry > nav').css("top", nav.scrollTop + offset);
          }
          else{
            $('.hentry > nav').css("position", "absolute");
            $('.hentry > nav').css("top", top);
          }
        }
    }
</script>
